html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Product';
  src: local("Product"), url(../fonts/ProductSans.ttf) format("truetype");
}

@font-face {
  font-family: 'ProductBold';
  src: local("ProductBold"), url(../fonts/ProductSansBold.ttf) format("truetype");
}

@-webkit-keyframes photoAnim {
  0% {
    -webkit-transform: translateX(10%) translateY(-10%);
            transform: translateX(10%) translateY(-10%);
    opacity: 0;
  }
  85% {
    -webkit-transform: translateX(-2%) translateY(2%);
            transform: translateX(-2%) translateY(2%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes photoAnim {
  0% {
    -webkit-transform: translateX(10%) translateY(-10%);
            transform: translateX(10%) translateY(-10%);
    opacity: 0;
  }
  85% {
    -webkit-transform: translateX(-2%) translateY(2%);
            transform: translateX(-2%) translateY(2%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacityAnim {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacityAnim {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes nameAnim {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: .3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nameAnim {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: .3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hoverAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hoverAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-size: 16px;
  margin: 0;
  font-family: Product;
  color: white;
  background-color: #0E153A;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 700px) {
  body {
    font-size: 19px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6em;
}

.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.hide-mobile {
  display: none;
}

@media (min-width: 700px) {
  .hide-mobile {
    display: unset;
  }
}

@media (min-width: 700px) {
  .hide-desktop {
    display: none;
  }
}

.hover {
  -webkit-animation: hoverAnim 1s infinite 0s ease-in-out;
          animation: hoverAnim 1s infinite 0s ease-in-out;
}

@media (min-width: 700px) {
  .hover {
    margin-top: 2.2em;
    height: 1.5em;
  }
}

.topbtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 15px;
  z-index: -3;
  font-size: .8em;
}

.topbtn a {
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.3em 1.3em;
  margin: .8em 1.2em;
  -webkit-animation: opacityAnim .5s forwards 0s ease-in-out;
          animation: opacityAnim .5s forwards 0s ease-in-out;
}

@media (min-width: 320px) {
  .header {
    margin: .3em 1.2em .1em;
  }
}

@media (min-width: 700px) {
  .header {
    max-width: calc(100vw - 20%);
    margin: .8em auto .3em;
  }
}

.header__title {
  margin: 0;
  font-size: 1.2em;
}

@media (min-width: 320px) {
  .header__title {
    font-size: 1em;
  }
}

@media (min-width: 320px) {
  .header__hamburger {
    height: 15px;
  }
}

@media (min-width: 700px) {
  .header__list, .header a {
    color: #B4BBBC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .83em;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header__list:hover, .header a:hover {
    color: white;
  }
}

.header__link {
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 700px) {
  .header__link {
    padding-left: 2.1em;
  }
}

.header__link--active a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link--active a:hover {
  color: #98eaf7;
}

.header__link:after {
  content: "";
  width: 0;
  position: absolute;
  -webkit-transition: .45s;
  transition: .45s;
}

.header__link:hover:after {
  content: "";
  width: 30px;
  margin-right: -20px;
  border-bottom: solid 1px #FFCC00;
}

.hero {
  padding-top: 1em;
  margin: .8em 1.2em 2em;
  position: relative;
}

@media (min-width: 700px) {
  .hero {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texts photo";
    -ms-grid-columns: 7fr 5.5fr;
        grid-template-columns: 7fr 5.5fr;
    max-width: calc(100vw - 20%);
    margin: 0 auto;
    padding-top: 0;
  }
}

@media (min-width: 700px) {
  .hero p, .hero h2 {
    text-align: left;
  }
}

.hero__header {
  grid-area: texts;
}

@media (min-width: 700px) {
  .hero__header {
    display: -ms-grid;
    display: grid;
  }
}

.hero__photo {
  grid-area: photo;
  width: calc(100vw - 30%);
  margin: auto;
  z-index: 10;
  -webkit-animation: photoAnim .7s forwards 0s ease-in-out;
          animation: photoAnim .7s forwards 0s ease-in-out;
}

@media (min-width: 320px) {
  .hero__photo {
    width: calc(100vw - 45%);
  }
}

@media (min-width: 700px) {
  .hero__photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    margin: 0 auto;
  }
}

.hero__hi {
  margin-top: 3em;
  width: 8em;
  font-size: .8em;
}

@media (min-width: 700px) {
  .hero__hi {
    float: left;
    display: block;
    margin-bottom: -8px;
  }
}

.hero__name {
  margin: 0;
  font-size: 2.4em;
  color: #22D1EE;
  font-family: ProductBold;
  -webkit-animation: nameAnim .9s forwards 0s ease-in-out;
          animation: nameAnim .9s forwards 0s ease-in-out;
  text-shadow: 1px 1px 3px #eee6e6;
}

.hero__name:before {
  content: "";
  background-color: white;
  width: 100%;
  margin-top: -3px;
  height: 60px;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  border-radius: 20px;
}

@media (min-width: 700px) {
  .hero__name:before {
    position: fixed;
    left: -100px;
    width: 465px;
    height: 75px;
    margin-top: 3px;
    border-radius: 20px;
  }
}

@media (min-width: 700px) {
  .hero__name {
    font-size: 3em;
  }
}

.hero__desc {
  padding: 1.5em;
  line-height: 1.5em;
  font-size: .7em;
}

.hero__desc span {
  color: #22D1EE;
}

@media (min-width: 700px) {
  .hero__desc {
    padding: 0;
    padding-top: .5em;
    line-height: 1.4em;
    font-size: .6em;
  }
}

.hero__btnlist {
  margin-top: 10px;
}

@media (min-width: 360px) {
  .hero__btnlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.hero__btn {
  color: #0E153A;
  font-size: .9em;
  padding: .7em;
  margin: 0 50px;
  margin-bottom: 1em;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.hero__btn--projects {
  background-color: #38437D;
  color: #22D1EE;
  -webkit-transition: .5s;
  transition: .5s;
}

.hero__btn--projects:hover {
  background-color: white;
  color: #0E153A;
}

.hero__btn--resume {
  -webkit-transition: .5s;
  transition: .5s;
}

.hero__btn--resume:hover {
  background-color: #38437D;
  color: #22D1EE;
}

@media (min-width: 360px) {
  .hero__btn {
    padding: .8em 2.6em;
    font-size: .75em;
    margin: 0;
  }
}

@media (min-width: 400px) {
  .hero__btn {
    padding: .8em 2.6em;
    font-size: .75em;
    margin: 0;
  }
}

@media (min-width: 700px) {
  .hero__btn {
    padding: .65em 3.2em;
    font-size: .65em;
    margin: 0;
  }
}

.skills {
  background-image: url(../imgs/whitebg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  color: #0E153A;
  padding: 2em;
  z-index: -10;
}

@media (min-width: 700px) {
  .skills {
    background-image: url(../imgs/whitebg-web.png);
    background-size: cover;
    padding-top: 3.5em;
    padding-bottom: 1.1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.skills__title {
  font-size: 2.1em;
  margin-top: 1.1em;
}

@media (min-width: 700px) {
  .skills__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.skills__list {
  text-align: left;
}

@media (min-width: 400px) {
  .skills__list {
    margin-left: 20px;
  }
}

@media (min-width: 700px) {
  .skills__list {
    font-size: 17px;
    margin: auto 0;
  }
}

.skills__items h3 {
  padding-left: 7px;
  font-size: .8em;
  border-left: 2px solid #FFCC00;
}

@media (min-width: 700px) {
  .skills__items h3 {
    padding-left: 11px;
  }
}

.skills__items img {
  height: 30px;
  padding-left: 15px;
}

@media (min-width: 700px) {
  .skills__items img {
    height: 26px;
  }
}

.skills__items h4 {
  padding-left: 15px;
  font-size: .7em;
  margin-top: 7px;
}

.skills__items--react img {
  height: 20px;
}

@media (min-width: 700px) {
  .skills__items--react img {
    height: 18px;
  }
}

.skills__items--mobileapp img {
  height: 25px;
}

.projects {
  padding: 2.1em;
}

.projects__title {
  line-height: .8em;
  margin-bottom: 1em;
}

@media (min-width: 700px) {
  .projects__title {
    font-size: 3em;
  }
}

.projects__title span {
  color: #98eaf7;
}

.projects__title:after {
  content: "";
  position: absolute;
  width: 220px;
  height: 10px;
  border-bottom: 1.5px solid #FFCC00;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -7px;
  z-index: -1;
}

@media (min-width: 700px) {
  .projects__title:after {
    width: 450px;
  }
}

@media (min-width: 700px) {
  .projects__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    padding: 1em;
  }
}

.projects__tile {
  background-color: white;
  padding: .8em;
  color: #0E153A;
  margin-bottom: 2em;
  border-radius: 12px;
  -webkit-box-shadow: 0 -2px 10px #040611;
          box-shadow: 0 -2px 10px #040611;
  display: block;
}

@media (min-width: 700px) {
  .projects__tile {
    margin: .5em;
    font-size: 20px;
  }
}

.projects__tile--title {
  width: calc(100% - 70px);
  float: right;
  margin: 15px 0;
}

@media (min-width: 320px) {
  .projects__tile--title {
    margin: 7px 0;
    width: calc(100% - 90px);
  }
}

@media (min-width: 400px) {
  .projects__tile--title {
    width: calc(100% - 120px);
    margin: 4px 0 15px;
  }
}

.projects__tile--scs {
  width: 100%;
  margin-top: 10px;
}

.projects__tile--space {
  font-size: .5em;
  width: 100%;
  visibility: hidden;
  margin: 0;
}

.projects__tile p {
  font-size: .65em;
  margin: 0 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.projects__tile p span {
  color: #2c42b5;
}

.projects__tile:first-child:before {
  content: "";
  position: absolute;
  margin-top: -40px;
  margin-left: -70px;
  width: 120px;
  height: 120px;
  background-image: url(../imgs/electroknight.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: wheat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.projects__tile:nth-child(2):before {
  content: "";
  position: absolute;
  margin-top: -40px;
  margin-left: -60px;
  padding: 10px;
  width: 95px;
  height: 95px;
  background-image: url(../imgs/Clogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: wheat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.projects__tile:nth-child(3):before {
  content: "";
  position: absolute;
  margin-left: -160px;
  margin-top: -30px;
  padding: 10px;
  width: 80px;
  height: 80px;
  background-image: url(../imgs/giologo.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  color: wheat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.projects__tile:nth-child(3) p {
  margin: 0;
}

.projects__tile:nth-child(3) .adobexd {
  color: #FF26BE;
}

.projects__tile:last-child {
  margin-bottom: 0;
}

.message {
  text-align: left;
  padding: 100px 20px;
  color: white;
  background-color: #0b112e;
  border-top: solid 2px #FFCC00;
  border-bottom: solid 2px #FFCC00;
  text-align: center;
  z-index: -6;
}

@media (min-width: 700px) {
  .message {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.3fr 1fr;
        grid-template-columns: 1.3fr 1fr;
  }
}

.message h1 {
  line-height: 1em;
  font-size: 4.8em;
  color: #22D1EE;
  color: white;
  text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
}

@media (min-width: 320px) {
  .message h1 {
    font-size: 5.5em;
  }
}

.message h3 {
  margin-top: 30px;
  font-size: .7em;
}

@media (min-width: 700px) {
  .message h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1em;
    text-align: left;
  }
}

.about {
  padding: 60px 30px 90px;
}

@media (min-width: 700px) {
  .about {
    max-width: 600px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
  }
}

.about__photo {
  margin-top: 10px;
  width: calc(100vw - 70%);
}

@media (min-width: 700px) {
  .about__photo {
    -o-object-fit: contain;
       object-fit: contain;
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 700px) {
  .about__info {
    text-align: left;
    margin-left: 1em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
  }
}

.about__name {
  font-size: 1.4em;
  line-height: .7em;
  font-weight: normal;
}

@media (min-width: 700px) {
  .about__name {
    font-size: 1.6em;
    line-height: .1em;
  }
}

.about__name:after {
  content: "";
  position: absolute;
  width: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 22px;
  border-bottom: solid 1.5px #ffe680;
}

@media (min-width: 700px) {
  .about__name:after {
    content: "";
    width: 198px;
    margin-top: 17px;
    margin-right: 114px;
    left: unset;
  }
}

.about__school {
  font-weight: normal;
  font-size: .6em;
}

@media (min-width: 700px) {
  .about__school {
    font-size: .7em;
    line-height: 1.1em;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 700px) {
  .about__list {
    float: left;
    margin-top: 0;
  }
}

.about__links {
  margin: 0 5px;
}

.about__links img {
  height: 20px;
}
/*# sourceMappingURL=main.css.map */